pytest==5.3.5
pytest-asyncio==0.10.0
mypy==0.761
flake8
flake8-quotes
flake8-bugbear
flake8-builtins
flake8-import-order
flake8-print
flake8-commas
typing_extensions==3.7.4  # pyup: ignore # it should be minimal version from setup.py
